<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="icon" href="/static/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ヘルプ・ご案内</title>

</head>
<style>
body{
background-color: #fffacd;
}
a {
        text-decoration: none;
color: #000000;        
} 
</style>

<a href="/">← 戻る</a>
<h1>ヘルプ・ご案内</h1>
<h2>書き込みについて</h2>
<h3>書き込み方</h3>
<p>スレッドの下部、投稿フォームに必要なデータを書き込みます。<br>名前は任意ですが、本文は必須です。<br>紙飛行機のロゴと「投稿する」という文字が書かれたボタンをクリックすることで書き込みをすることができます</p>
<h3>画像の投稿について</h3>
<p>画像の投稿からファイルを選択ボタンをクリック、画像ファイルを選択すると、画像URLが取得されます。<br>その後文章のように投稿をすることで画像をアップロードできます</p>
<h3>アスキーアート(AA)の投稿について</h3>
<p>画像投稿ボタンの下にあるAAの選択リストに格納されている複数のアスキーアート(以下AA)を選択します。<br>その後下部のAAを決定ボタンを押すことでAAが取得されます。その後は投稿することで、AAを表示させることができます。</p>
<h2>スレッドの立て方</h2>
<h3>新規スレッド作成</h3>
<p>トップページ下部のスレッド作成フォームに必要なデータを書き込みます。<br>名前は任意ですが本文とスレッドタイトルは必須です。<br>スコップ(或いはシャベル)のロゴと「スレッドを立てる」という文字が書かれたボタンをクリックすることでスレ立てをすることができます。</p>
<h3>画像スレ</h3>
<p>フォームからファイルを選択すると、画像URLが取得されます。<br>その後は先ほどのようにスレッドを立てることで画像スレを立てることできます。<br>スレッドタイトルに【画像】という文字を追加すると、閲覧者にわかりやすく内容を伝えることができます。<br>しかし、その際、画像が貼られていない場合、「画像も貼らずにスレ立てとな？」のAAが貼られます。<br>またそのようなスレを見かけた場合「画像も貼らずにスレ立てとな？」のAAを貼ることが望ましいです。</p>
<h2>AA・コピペ保管庫</h2>
<h3>AA・コピペの保存方法</h3>
<p>文章入力欄にコピペ、或いはAAを貼り付けます。その後保存ボタンを押します。</p>
<h3>AA・コピペのコピー、削除</h3>
<p>コピーボタンを押すとクリップボードにコピーされます。削除ボタンを押すと保存したデータが削除されます</p>
</body>
</html>