<h1>Lunar Eclipse</h1><br>
<h2>新規スレッド作成</h2>
<form method="post" action="/thread/new">
  スレッドタイトル: <input type="text" name="title">
  名前: <input type="text" name="name"><br>
  本文: <textarea name="message"></textarea><br>
  <button type="submit">新規作成</button>
</form>

<hr>

<ul>
  {% for id, title, created_at in threads %}
    <li><a href="/thread/{{id}}">{{title}}</a> ({{created_at}})</li>
  {% endfor %}
</ul>

<form method="post" action="/set_theme">
<h3>テーマ</h3>
<select name="example">
<option value="d">デフォルト</option>
<option value="m">Midnight Tokyo</option>
<option value="2">2ちゃんねる風(あの頃のネットシリーズ)</option>
<option value="t">東方風(あの頃のネットシリーズ)</option>
<option value="i">淫夢風(あの頃のネットシリーズ)</option>

</select>
<button type="submit">変更</button>
</form>