<!doctype html>
<html lang="en">
<head>
  <title>栽切苅切</title>
  <style>
<link rel="icon" href="favicon.ico">
  body {
    background-image: url(https://cdn.pixabay.com/photo/2021/01/10/18/01/milky-way-5905903_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  .error-text {
    text-align: center;
  }
  </style>
</head>
<body>
  <h1 class="error-text">
  <title>栽切苅切</h1>
  <p class="error-text">作成中のゲームです。</p>
</body>
</html>
